*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.nav-sec{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
}
/* .navlist{
    /* width:40%; */

/* } */
.navlist ul{
    display:flex;
}
.navlist ul li{
    list-style-type:none;
}
.navlist ul li a{
    text-decoration: none;
    padding:8px;
    padding-left:25px;
    color:black;
    font-size:17px;
}
/* .logo{
    /* width:15%; */
/* } */
.logo img{
    width:250px;
    height:70px;
}
.icon{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:20px;
    width:25%;
}
input{
    border-width:0 0 2px 0;
    border-style:solid;
    border-color:black;
    outline:none;
    width:200px;
}

